{% extends 'base.html.twig' %}

{% block header %}
    {{ component('Header', {'title' : page }) }}
{% endblock %}

{% block body %}
    <main id="index" class="index">
        <section class="map-interactive">
            <div class="container-select-map">
                <div class="select-map enabled">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_cabanes.png')}}" alt="Cabanes"/>
                    <p>{{ countCabanes }} cabane dans les arbres</p>
                    <p class="input-container" data-id="1"></p>
                </div>
                <div class="select-map enabled">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_chalets.png')}}" alt="Chalets"/>
                    <p>{{ countChalets }} chalets dont 1 chalet-gîte</p>
                    <p class="input-container" data-id="2"></p>
                </div>
                <div class="select-map enabled">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_roulottes.png')}}" alt="Roulottes"/>
                    <p>{{ countRoulottes }} roulottes</p>
                    <p class="input-container" data-id="4"></p>
                </div>
                <div class="select-map">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_camping.png')}}" alt="Camping"/>
                    <p>Plus de 100 emplacements de camping</p>
                    <p class="hidden-p"></p>
                </div>
            </div>
            {{ component('Map', {'coordonnee' : coordonnee, 'isPmr' : isPmr}) }}
        </section>
        <section class="contact-rapide">
            <div>
                <a href="{{ path('reservation')}}">Faire un devis ou réserver</a>
                <p></p>
                <a href="tel:{{ tel.contenu }}">Appeler-nous au {{ tel.contenu }}</a>
            </div>
        </section>
        <section class="point-clef">
            <h2>3 étoiles à votre service</h2>
            <figure class="f1">
                <img src="{{ asset('/images/media/slider_epiceriev2.jpg') }}" alt="Epicerie"/>
                <figcaption>Une épicerie qui propose des produits d’alimentation locaux et bio mais aussi des articles de plage, des souvenir, les journaux et même un dépôt de pain.</figcaption>
            </figure>
            <p></p>
            <figure class="f2">
                <img src="{{ asset('/images/media/cityv2.jpg') }}" alt="City"/>
                <figcaption>Un espace de jeux pour les petits et les grands, pour le plaisir de jouer entre amis ou en famille.</figcaption>
            </figure>
            <p></p>
            <figure class="f3">
                <img src="{{ asset('/images/media/piscinev2.jpg') }}" alt="Piscine"/>
                <figcaption>Une piscine couverte et chauffée avec sa propre terrasse pour se prélasser au soleil.</figcaption>
            </figure>
            <p></p>
            <figure class="f4">
                <img src="{{ asset('/images/media/saunav2.jpg') }}" alt="Sauna"/>
                <figcaption>Un chalet dédié au « bien-être écologique » avec sauna, hammam, terrasse solarium, douche et tisanerie.</figcaption>
            </figure>
            <p></p>
            <figure class="f5">
                <img src="{{ asset('/images/media/barv2.jpg') }}" alt="Bar"/>
                <figcaption>Profitez d’une boisson au bar ou sur la terrasse au bord du lac.</figcaption>
            </figure>
            <p></p>
            <figure class="f6">
                <img src="{{ asset('/images/media/bateau.jpg') }}" alt="Bar"/>
                <figcaption>Montez à bord du bateau "Les settons" pour profiter d'une promenade de 45 minutes, commentée par le capitaine(<a href="https://bateaux-settons.com">Voir le site</a>).</figcaption>
            </figure>
        </section>
        <section class="activite" id="activite">
            <h2>Nos prestations</h2>
            <article>
                <p>-Soirées dansantes les mercredis et samedis en haute saison.</p>
                <p>-Initiation & promenade accompagnée en Gyropodes électriques.</p>
                <p>-Location de pédalos.</p>
                <p>-Piscine & bain à bulles couverts & chauffés.</p>
                <p>-City Stade Agorespace, ping-pong, billard, babyfoot, fléchette, terrain de pétanque.</p>
                <p>-2 barbecues collectifs.</p>
                <p>-Spot Wifi gratuit uniquement au bar et en terrasse.</p>
                <p>-Des sanitaires, douches & salle de bain bébé chauffés.</p>
                <p>-Snack restauration (hamburgers, sandwiches, salades, frites, gaufres, glaces).</p>
                <p>-Laverie (Lave-linge et sèche-linge).</p>
                <p>-Service courrier à l’accueil, ouvert de 9h à 20h.</p>
                <p>-Les propriétaires sont sur place jour et nuit et parlent anglais.</p>
            </article>
            <article>
                <h3>Autour du camping:</h3>
                <p>-Bateau promenade « Les Settons » (tour du lac commenté).</p>
                <p>-Base nautique Activital : Voile, Canoë et Kayak, Paddle. Nos résidents bénéficient d’un Pass réduction sur ces activités nautiques.</p>
                <p>-Vélo.</p>
                <p>-Pêche.</p>
                <p>-À 10 minutes du lac, Cap Xtrem : rando quads et 4x4, parcours aventure, rafting.</p>
                <p>-Suivez la ligne rouge autour du Lac des Settons, un sentier pédestre de 15 kilomètres (environ 4 heures de marche) qui vous entraînera dans une aventure où vous découvrirez la faune, la flore et les paysages idylliques au cœur du Morvan.</p>
            </article>
            <div class="pmr">
                <img src="{{ asset('/images/logos/logo_pmr.jpg') }}" alt="Pmr" />
                {% for itemPmr in itemsPmr %}
                    <p>{{ itemPmr.quantite }} {{ itemPmr.libelle }}</p>
                {% endfor %}
            </div>
        </section>
        <section class="horaire">
            <article class="saisons">
                {% for saison in saisons %}
                    <div>
                        {% if saison.slug == "saison_d_hiver" %}
                            <img src="{{ asset('/images/logos/flocon-de-neige.png') }}" alt="saison d'hiver"/>
                        {% elseif saison.slug == "basse_saison" %}
                            <img src="{{ asset('/images/logos/feuille-derable.png') }}" alt="basse saison"/>
                        {% elseif saison.slug == "haute_saison" %}
                            <img src="{{ asset('/images/logos/soleil.png') }}" alt="haute saison"/>
                        {% endif %}
                        <p>{{ saison.libelle }}: {{ saison.datedebut|date('d/m/Y') }} au {{ saison.datefin|date('d/m/Y') }}</p>
                    </div>
                {% endfor %}
                <p>Ouverture de {{ horaire.horairedebut|date('H:i') }} à {{ horaire.horairefin|date('H:i') }}</p>
            </article>
            <article class="ouvertures">
                {% for ouverture in ouvertures %}
                    <div>
                        {% if ouverture.actif == "1" %}
                            <img src="{{ asset('/images/logos/bouton_vert.png') }}" alt="actif"/>
                            {% if ouverture.slug == "accueil_&_bar" %}
                                <p>{{ ouverture.libelle }}: {{ "ouverts toute l'année" }}.</p>
                            {% elseif ouverture.slug == "piscine_chauffee" or ouverture.slug == "epicerie" %}
                                <p>{{ ouverture.libelle }}: {{ "ouverte" }}.</p>
                            {% elseif ouverture.slug == "snack" %}
                                <p>{{ ouverture.libelle }}: {{ "ouvert" }}.</p>
                            {% elseif ouverture.slug == "sauna_&_hammam" %}
                                <p>{{ ouverture.libelle }}: {{ "ouverts" }}.</p>
                            {% endif %}
                        {% elseif ouverture.actif == "0" %}
                            <img src="{{ asset('/images/logos/bouton_rouge.png') }}" alt="inactif"/>
                            {% if ouverture.slug == "accueil_&_bar" or ouverture.slug == "sauna_&_hammam" %}
                                <p>{{ ouverture.libelle }}: {{ "actuellement fermés" }}.</p>
                            {% elseif ouverture.slug == "piscine_chauffee" or ouverture.slug == "epicerie" %}
                                <p>{{ ouverture.libelle }}: {{ "actuellement fermée" }}.</p>
                            {% elseif ouverture.slug == "snack" %}
                                <p>{{ ouverture.libelle }}: {{ "actuellement fermé" }}.</p>
                            {% endif %}
                        {% elseif ouverture.actif == null %}
                            <img src="{{ asset('/images/logos/bouton_orange.png') }}" alt="non-defini"/>
                            <p>{{ ouverture.libelle }}: {{ "sur réservation" }}.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </article>
        </section>
        <section class="logo-partenaires">
            <div class="logo-carre">
                <img src="{{ asset('/images/logo_encart/epicerie.jpg') }}" alt="epicerie" />
                <img src="{{ asset('/images/logo_encart/snack.png') }}" alt="snack" />
                <img src="{{ asset('/images/logo_encart/sauna_hammam.jpg') }}" alt="sauna hammam" />
                <img src="{{ asset('/images/logo_encart/wifi_gratuite.png') }}" alt="wifi gratuite" />
                <img src="{{ asset('/images/logo_encart/piscine_chauffee.png') }}" alt="piscine chauffee" />
                <img src="{{ asset('/images/logo_encart/massage.jpg') }}" alt="massage" />
                <img src="{{ asset('/images/logo_encart/picto_camping.jpg') }}" alt="camping" />
                <img src="{{ asset('/images/logo_encart/logo_cabannes_france.jpg') }}" alt="logo cabannes france" />
                <img src="{{ asset('/images/logo_encart/cle_verte.jpg') }}" alt="cle verte" />
                <img src="{{ asset('/images/logo_encart/com_com.jpg') }}" alt="communauté de communes" />
            </div>
            <div class="logo-rect">
                <img src="{{ asset('/images/logo_encart/routard.png') }}" alt="routard" />
                <img src="{{ asset('/images/logo_encart/nièvre.jpg') }}" alt="nièvre" />
                <img src="{{ asset('/images/logo_encart/europe_engage.jpg') }}" alt="europe engagée" />
                <img src="{{ asset('/images/logo_encart/esprit_de_famille.gif') }}" alt="esprit de famille" />
                <img src="{{ asset('/images/logo_encart/engagement_feader.jpg') }}" alt="engagement feader" />
                <img src="{{ asset('/images/logo_encart/campcar.jpg') }}" alt="campcar" />
                <img src="{{ asset('/images/logo_encart/bourgogne_FC.jpg') }}" alt="bourgogne fc" />
                <img src="{{ asset('/images/logo_encart/atout_france.png') }}" alt="atout france" />
                <img src="{{ asset('/images/logo_encart/ancv.jpg') }}" alt="ancv" />
                <img src="{{ asset('/images/logo_encart/3etoiles.jpg') }}" alt="trois etoile" />
            </div>
        </section>
    </main>
{% endblock %}
{% block footer %}
    {{ component('Footer') }}
{% endblock %}