{% extends 'base.html.twig' %}

{% block header %}
    {{ component('Header', {'title' : page.title }) }}
{% endblock %}

{% block body %}
    <main>
        <section class="map-interactive">
            <div class="container-select-map">
                <div class="select-map">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_cabanes.png')}}" alt="Cabanes"/>
                    <p>{{ countCabanes }} cabane dans les arbres</p>
                    <p class="input-container" data-id="1"></p>
                </div>
                <div class="select-map">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_chalets.png')}}" alt="Chalets"/>
                    <p>{{ countChalets }} chalets dont 1 chalet-gîte</p>
                    <p class="input-container" data-id="2"></p>
                </div>
                <div class="select-map">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_roulottes.png')}}" alt="Roulottes"/>
                    <p>{{ countRoulottes }} roulottes</p>
                    <p class="input-container" data-id="4"></p>
                </div>
                <div class="select-map">
                    <img class="logo-select" src="{{ asset('/images/logos/logo_camping.png')}}" alt="Camping"/>
                    <p>Plus de 100 emplacements de camping</p>
                    <p class="hidden-p"></p>
                </div>
            </div>
            {{ component('Map', {'libelle' : page.libelle, 'coordonnee' : coordonnee, 'isPmr' : isPmr}) }}
        </section>
    </main>
{% endblock %}