{% extends 'base.html.twig' %}

{% block title %}Connexion | Camping plage du midi{% endblock %}

{% block header %}
    {{ component('AdminHeader') }}
{% endblock %}
{% block body %}
    <main id="main-login" class="main-login">
        <form action="{{ path('app_login') }}" method="post">

            <h2>Connexion</h2>

            <div class="row email">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
            </div>

            <div class="row password">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                <div class="error-login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class=" row button">
                <button type="submit">Connexion</button>
            </div>
        </form>
    </main>
{% endblock %}
{% block footer %}
    {{ component('Footer') }}
{% endblock %}
