{% extends 'base.html.twig' %}

{% block title %}
    {{ locatif.libelle }} - Plage du midi
{% endblock %}

{% block header %}
    {{ component('Header', {'title' : page.title }) }}
{% endblock %}
{% block body %}
    <main id="locatifs-details" class="main-locatifs-details">
        <section class="informations-principales">
            <div class="premiere-partie">
                <h2>{{ locatif.libelle }}</h2>

                {% for image in images %}
                    {% if loop.first %}
                        <img class="img" data-id="{{loop.index0}}" src="{{ asset('/images/locations/' ~ image.imgurl) }}" alt='{{ locatif.slug }}'>
                    {% else %}
                        <img class="img hidden" data-id="{{loop.index0}}" src="{{ asset('/images/locations/' ~ image.imgurl) }}" alt='{{ locatif.slug }}'>
                    {% endif %}
                {% endfor %}
                <div class="select-container">
                    {% for image in images %}
                        {% if loop.first %}
                            <div class="pastille-select active" data-id="{{loop.index0}}"></div>
                        {% else %}
                            <div class="pastille-select" data-id="{{loop.index0}}"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="grille-tarifs">
                    {% if tarifs.hssemaine != null %}
                        <p><span>Tarif haute saison:</span> {{ tarifs.hssemaine }}€ par semaine</p>
                    {% endif %}
                    {% if tarifs.bssemaine != null %}
                        <p><span>Tarifs basse saison:</span> {{ tarifs.bsnuitee }}€ par nuitée | {{ tarifs.bssemaine }}€ par semaine</p>
                    {% endif %}
                    {% if tarifs.hvsemaine != null %}
                        <p><span>Tarifs en hiver:</span> {{ tarifs.hvnuitee }}€ par nuitée | {{ tarifs.hvsemaine }}€ par semaine</p>
                    {% endif %}
                    {% if tarifs.bsnuitee2 != null or tarifs.bsnuitee3 != null or tarifs.bsnuitee4 != null %}
                        <p><span>Tarifs basse saison:</span> {{ tarifs.bsnuitee2 != null ? tarifs.bsnuitee2 ~ '€ pour 2,' : '' }} {{ tarifs.bsnuitee3 != null ? tarifs.bsnuitee3 ~ '€ pour 3,' : '' }} {{ tarifs.bsnuitee4 != null ? tarifs.bsnuitee4 ~ '€ pour 4,' : '' }} par nuitée </p>
                    {% endif %}
                    {% if tarifs.hsnuitee2 != null or tarifs.hsnuitee3 != null or tarifs.hsnuitee4 != null %}
                        <p><span>Tarifs haute saison:</span> {{ tarifs.hsnuitee2 != null ? tarifs.hsnuitee2 ~ '€ pour 2,' : '' }} {{ tarifs.hsnuitee3 != null ? tarifs.hsnuitee3 ~ '€ pour 3,' : '' }} {{ tarifs.hsnuitee4 != null ? tarifs.hsnuitee4 ~ '€ pour 4,' : '' }} par semaine </p>
                    {% endif %}
                    {% if locatif.slug == 'camping' %}
                        <p>
                            <span>Emplacement:</span> 
                            {% for tarif in tarifsGlobaux %}
                                {% if tarif.slug == "emplacement_camping" %}
                                    {{ tarif.valeur }}€ /jour.
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <span>Tarif adulte:</span> 
                            {% for tarif in tarifsGlobaux %}
                                {% if tarif.slug == "camping_adulte" %}
                                    {{ tarif.valeur }}€ /jour.
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <span>Tarif enfant (- de 11 ans):</span> 
                            {% for tarif in tarifsGlobaux %}
                                {% if tarif.slug == "camping_enfant_-11" %}
                                    {{ tarif.valeur }}€ /jour.
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="derniere-partie">
                {% if coordonnees != null %}
                    <p>
                        <span>Emplacement(s):</span>
                        {% for coordonnee in coordonnees %}
                            {% if coordonnee.emplacement is same as(null) %}
                                {% if loop.last %}
                                     N.
                                {% else %}
                                     N,
                                {% endif %}
                            {% else %}
                                {% if loop.last %}
                                     {{ coordonnee.emplacement }}.
                                {% else %}
                                     {{ coordonnee.emplacement }},
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <div class="lien-carte">
                    <a>Afficher sur la carte</a>
                    <img src="{{ asset('/images/logos/adresse.png')}}" alt='plan' />
                </div>
                {% if locatif.slug != "camping" %}
                    <p><span>Capacité:</span> Idéal pour {{ locatif.capacite }} personnes.</p>
                {% else %}
                    <p>
                        <span>Camping-car (emplacement + véhicule):</span> 
                        {% for tarif in tarifsGlobaux %}
                            {% if tarif.slug == "camping-car" %}
                                {{ tarif.valeur }}€ /jour.
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <span>électricité 10A:</span> 
                        {% for tarif in tarifsGlobaux %}
                            {% if tarif.slug == "electricite" %}
                                {{ tarif.valeur }}€ /jour.
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <span>Véhicule:</span> 
                        {% for tarif in tarifsGlobaux %}
                            {% if tarif.slug == "voiture_camping" %}
                                {{ tarif.valeur }}€ /jour.
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <span>Enfant (- de 3 ans):</span> 
                        {% for tarif in tarifsGlobaux %}
                            {% if tarif.slug == "camping_enfant_-3" %}
                                {{ tarif.valeur == 0 ? "gratuit." : tarif.valeur ~ "€ /jour." }}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p><span>Superficie:</span> {{ locatif.superficie }}m².</p>
                {% if locatif.slug != "camping" %}
                    {% if tarifs.tvjour is same as(null) %}
                        <p><span>Location TV:</span> Indisponible.</p>
                    {% elseif tarifs.tvjour is same as(0) %}
                        <p><span>Location TV:</span> incluse.</p>
                    {% elseif tarifs.tvjour != 0 and tarifs.tvjour != null %}
                        <p><span>Location TV:</span> {{ tarifs.tvjour }}€ au jour | {{ tarifs.tvsemaine }}€ à la semaine.</p>
                    {% endif %}
                {% endif %}
                {% if tarifs.animaux != null %}
                    <p><span>Animaux:</span> {{ tarifs.animaux }}€</p>
                {% endif %}
                {% if locatif.slug != "camping" %}
                    <p class="lien-pdf"><span>Inventaire:</span> <a href="">visualiser en cliquant</a>.</p>
                {% endif %}
                <p>
                    <span>Taxe de séjour:</span> 
                    {% for tarif in tarifsGlobaux %}
                        {% if tarif.slug == "taxe_de_sejour" %}
                            {{ tarif.valeur }}€ /jour et /adulte de +18 ans.
                        {% endif %}
                    {% endfor %}
                </p>
                <p><span>Arrhes nuitée et week-end:</span> {{ tarifs.arrhesnuitee }}% en basse saison.</p>
                <p><span>Arrhes semaine:</span> {{ locatif.slug == "camping" ? tarifs.arrhessemaine ~ "%" : tarifs.arrhessemaine ~ "€" }} en haute saison.</p>
                {% if locatif.slug != "camping" %}
                <p><span>Caution:</span> {{ tarifs.caution }}€</p>
                {% endif %}
                <div class="note">
                    <p><span>Note:</span> les arrhes versées à la réservation seront encaissées et déduites du montant total du séjour. Aucun remboursement ne sera effectué en cas de désistement.</p>
                </div>
                <p><span>Mode de paiement:</span> chèques, chèques vacances, toutes les cartes de crédits, espèces.</p>
                <p class="lien-pdf"><span>Règlement intérieur:</span> <a href="">visualiser en cliquant</a>.</p>
                {{ locatif.ouverturehivernale ? '' : "<p><span>Avertissement:</span> cette location n'est pas disponible l'hiver!</p>"|raw }}
                <p class="lien-resa"><a href="{{ path('reservation', {'slug': locatif.slug}) }}">Faire un devis ou réserver</a></p>
            </div>
        </section>
        <section class="details">
            <article>
                <h3>Description</h3>
                <img class="fleche-bas" src="{{ asset('/images/logos/fleche-vers-le-bas-pour-naviguer-noir.png') }}" alt="fleche" />
                <ul>
                    {% for desc in description %}
                        {% if loop.last %}
                            <li>{{ desc }}</li>
                        {% else %}
                            <li>{{ desc }}.</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </article>
            <article>
                <h3>Tarifs</h3>
                <img class="fleche-bas" src="{{ asset('/images/logos/fleche-vers-le-bas-pour-naviguer-noir.png') }}" alt="fleche" />
                {% if locatif.slug != "camping" %}
                    {% if tarifs.hvnuitee != null %}
                        <h4>Tarifs hiver de novembre à fin mars:</h4>
                            <ul>
                                <li>Nuitée: {{ tarifs.hvnuitee }}€</li>
                                <li>Semaine: {{ tarifs.hvsemaine }}€ (du samedi 15h au samedi 10h)</li>
                            </ul>
                    {% endif %}
                    {% if tarifs.bsnuitee != null %}
                        <h4>Basse saison:</h4>
                            <ul>
                                <li>Nuitée: {{  tarifs.bsnuitee }}€</li>
                                <li>Semaine: {{ tarifs.bssemaine }}€ (du samedi 15h au samedi 10h)</li>
                            </ul>
                    {% endif %}
                    {% if tarifs.hssemaine != null %}
                        <h4>Haute saison:</h4>
                            <ul>
                                <li>Semaine: {{ tarifs.hssemaine }}€ (du samedi 15h au samedi 10h) <br> (en haute saison, pas de location week-end, réservation impérative)</li>
                            </ul>
                    {% endif %} 
                {% endif %}
                {% if tarifs.bsnuitee2 != null %}
                    <h4>Basse saison:</h4>
                    <ul>
                        <li>Nuitée 2 personnes: {{ tarifs.bsnuitee2 }}€</li>
                        <li>Nuitée 3 personnes: {{ tarifs.bsnuitee3 }}€</li>
                        <li>Nuitée 4 personnes: {{ tarifs.bsnuitee4 }}€</li>
                    </ul>
                {% endif %}
                {% if tarifs.hsnuitee2 != null %}
                    <h4>Haute saison:</h4>
                    <ul>
                        <li>Nuitée 2 personnes: {{ tarifs.hsnuitee2 }}€</li>
                        <li>Nuitée 3 personnes: {{ tarifs.hsnuitee3 }}€</li>
                        <li>Nuitée 4 personnes: {{ tarifs.hsnuitee4 }}€</li>
                    </ul>
                {% endif %}
                <h4>Divers:</h4>
                {% if locatif.slug != "camping" %}
                    {% if tarifs.animaux != null %}
                        <ul>
                            <li>Animaux: {{ tarifs.animaux }}€ par animaux par jour.</li>
                        </ul>
                    {% endif %}
                {% endif %}
                <ul>
                    {% for tarif in tarifsGlobaux %}
                        {% if tarif.slug == 'petit_dejeuner' %}
                            <li>Petit-déjeuner: {{ tarif.valeur }}€</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if locatif.slug == "la_cabane_aux_secrets" %}
                    <ul>
                        {% for tarif in tarifsGlobaux %}
                            {% if tarif.slug == 'bouteille_de_champagne' %}
                                <li>Accompagnez ce moment insolite avec une bouteille de champagne qui vous attendra bien frappée: {{ tarif.valeur }}€ sur commande.</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
            <article>
                <h3>CGV et modalités de règlement</h3>
                <img class="fleche-bas" src="{{ asset('/images/logos/fleche-vers-le-bas-pour-naviguer-noir.png') }}" alt="fleche" />
                <h4>Réservations:</h4>
                <p>En haute saison : Les réservations de locatifs se font à la semaine du samedi au samedi.
                En basse saison :  Les réservations de locatifs sont disponibles à la nuitée. Les week-end et certains jours fériés, il se peut que les réservations ne soient disponibles qu’à partir de 2, 3, ou 4 nuitées.
                En saison Hiver : Les réservations de locatifs sont disponibles à partir de 4 nuitées durant les vacances. Hors vacances, les locatifs sont disponibles à partir de 2 nuitées.</p>

                <h4>Arrhes et solde:</h4>
                <p>Pour que votre réservation soit effective, vous devez impérativement nous adresser des arrhes.  Le montant demandé est indiqué sur le site internet ainsi que sur les documents « tarif ». Ils sont différents selon la période et le type de locatifs.
                Afin d’assurer la réservation, il est préférable que cela soit fait dans les 14 jours suivant l’option. Passé ce délai, l’option sera automatiquement supprimée.  Les arrhes versées ne sont pas remboursables. Durant la période COVID, nous vous laissons la possibilité de reporter ces arrhes sur un autre séjour de l’année, ou de l’année suivante. Tout séjour commencé, interrompu ou abrégé ne pourra donner lieu à un remboursement.
                Le solde du locatif vous sera demandé 14 jours avant la date d’arrivée.</p>

                <h4>Condition de séjour et cautions:</h4>
                <p>Une assurance responsabilité civile est obligatoire (merci de nous fournir une copie). Les enfants sont considérés comme occupants à part entière. Le dépôt d’une somme de 400 euros est demandé. Si vous ne possédez pas de chéquier, il vous sera demandé vos numéros de carte bancaire. Elle pourra être débitée si le locatif n’est pas rendu propre et en état lors de l’état des lieux.</p>

                <h4>Arrivée et départ:</h4>
                <p>La remise des clés de votre location s’effectuera de 15H à 20H. En cas d’empêchement majeur justifié entraînant une arrivée en dehors de ces horaires, il est nécessaire de prévenir au {{ telephone.contenu }}. La location doit être libérée à 10H00. En cas de dépassement horaire, vous devrez prévenir la réception et convenir d’un arrangement selon la disponibilité de celui-ci, une demi-journée supplémentaire vous sera alors facturée.</p>

                <h4>Droit de rétractation:</h4>
                <p>Le droit de rétractation ne peut être exercé pour les contrats de prestations de services d’hébergement autres que d’hébergement résidentiel (art. L.221-28 du code de la consommation).</p>
            </article>
        </section>
        <section id="background-map" class="hidden">
            <img class="close" src="{{ asset('/images/logos/fermer-la-croix.png') }}" alt="fermer" />
            {{ component('Map', {'libelle' : page.libelle, 'coordonnee' : coordonnees, 'isPmr' : isPmr}) }}
        </section>
    </main>
{% endblock %}
{% block footer %}
    {{ component('Footer') }}
{% endblock %}