{% extends 'base.html.twig' %}

{% block title %}
    Nos locations - Plage du midi
{% endblock %}

{% block header %}
    {{ component('Header', {'title' : page }) }}
{% endblock %}
{% block body %}
    <main id="locatifs" class="main-locatifs">
        <section class="liste-locatifs">
            <div class="barre-tri">
                <div class="select-categories">
                    <p>Catégories locatifs</p><span class="rotate">></span>
                    <ul id="ul-select" class="hidden">
                        {% for type in typeLocatifs %}
                            <li>
                                <label for="{{type.id}}">{{ type.libelle }}</label>
                                <input data-cate="{{type.id}}" id="{{type.id}}" type="checkbox"/>
                            </li>
                        {% endfor %}
                        <li><button>Valider</button></li>
                    </ul>
                </div>
                <div class="container-tri">
                    <img src="{{ asset('/images/logos/trier-par-ordre-croissant.png') }}" />
                    <label for="select-tri">Trier par: </label>
                    <select class="select-tri" id="select-tri">
                        <option value="ordre alphabetique">Ordre alphabétique</option>
                        <option value="capacite croissante">Capacité croissante</option>
                        <option value="capacite decroissante">Capacité décroissante</option>
                    </select>
                </div>
            </div>
            <div class="liste-article">
                {% for locatif in locatifs %}
                    <article data-cate="{{ locatif.getIdTypeLocatifs().getId() }}" data-capacite="{{ locatif.capacite }}" data-slug="{{ locatif.slug }}">
                        <figure>
                            {% for image in images %}
                                {% if image.getIdLocatifs().getId() == locatif.id %}
                                    {% if image.ispicture == true %}
                                        <img src="{{ asset('/images/locations/' ~ image.imgurl) }}" alt="{{ locatif.libelle }}"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <figcaption>{{ locatif.libelle }}</figcaption>
                        </figure>
                        <div class="infos">
                            <div class="libelle-emplacement">
                                <h5>Emplacements:</h5>
                                <img data-id="{{ locatif.id }}" src="{{ asset('/images/logos/adresse.png')}}" alt='plan' />
                            </div>
                            <div class="contenu-emplacement">
                            {% if locatif.slug != "camping" %}
                                {% for coordonnee in coordonneesMap %}
                                    {% if coordonnee.getIdLocatifs.getId() == locatif.id %}
                                        <div class="pastille">
                                        <p>{{coordonnee.emplacement != null ? coordonnee.emplacement : "N" }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p class="non-spe">Non spécifié</p>
                            {% endif %}
                            </div>
                            <div class="libelle-capacite">
                                <h5>Capacité:</h5>
                                {% if locatif.ispmr == true %}
                                    <img src="{{ asset('/images/logo_pmr.jpg')}}" alt='pmr' />
                                {% endif %}
                            </div>
                            <div class="contenu-capacite">
                                {% if locatif.slug != "camping" %}
                                    <p>Idéal pour {{ locatif.capacite }} personnes</p>
                                {% else %}
                                    <p>Non spécifié</p>
                                {% endif %}
                            </div>
                            <a href="{{ path('locatifs_details', { 'slug' : locatif.slug }) }}" >Voir les détails</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section id="background-map" class="hidden">
            <img class="close" src="{{ asset('/images/logos/fermer-la-croix.png') }}" alt="fermer" />
            {{ component('Map', {'coordonnee' : coordonneesMap, 'isPmr' : isPmr}) }}
        </section>
    </main>
{% endblock %}
{% block footer %}
    {{ component('Footer') }}
{% endblock %}