{% extends 'base.html.twig' %}

{% block title %}
    Devis & Réservation - Plage du midi
{% endblock %}

{% block header %}
    {{ component('Header', {'title' : page.title }) }}
{% endblock %}

{% block body %}
    <main id="reservation" class="main-reservation">
        <section>

            {{ form_start(form) }}

                <div class="begin-form">
                    <div class="container-name">

                        {{ form_row(form.name) }}
                        {{ form_row(form.firstName) }}

                    </div>    

                    {{ form_row(form.email) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.phone) }}

                    <div class="choice-quantity">

                        {{ form_row(form.nombreVoyageurs) }}
                        {{ form_row(form.nombreAnimaux) }}

                    </div>
                    <div class="container-card-voyageurs">
                        <div>

                            {{ form_row(form.ageDesVoyageurs1)}}

                        </div>

                    </div>
                </div>
                <div class="end-form">
                    <div class="title-container">
                        <p>Type de locatif</p>
                    </div>
                    <div class="container-checkBox">
                        <!--Personnaliser l'affichage des checkbox-->
                        {% if typeLocatif.id == 2 %}
                            {% if locatif.slug != 'chalet_gite_elegance' %}
                                {{ form_row(form.chalet, {
                                    'label': locatif.libelle,
                                    'attr':{
                                        'checked': 'checked'
                                    }
                                }) }}

                                {{ form_row(form.chaletGite) }}
                            {% else %}
                                {{ form_row(form.chalet) }}

                                {{ form_row(form.chaletGite, {
                                    'label': locatif.libelle,
                                    'attr':{
                                        'checked': 'checked'
                                    }
                                }) }}
                            {% endif %}
                        {% else %}
                                {{ form_row(form.chalet) }}
                                {{ form_row(form.chaletGite) }}
                        {% endif %}
                            {{ typeLocatif.id == 1 ? form_row(form.cabane, { 'label': locatif.libelle, 'attr': { 'checked': 'checked' } }) : form_row(form.cabane) }}
                            {{ typeLocatif.id == 4 ? form_row(form.roulotte, { 'label': locatif.libelle, 'attr': { 'checked': 'checked' } }) : form_row(form.roulotte) }}
                            {{ form_row(form.campingCar) }}
                            {{ form_row(form.caravane) }}
                            {{ form_row(form.tente) }}
                    </div>
                    <div class="facultatif-container disabled">
                        <p>Option</p>
                        {{ form_row(form.electricite) }}
                    </div>
                    <div class="choice-date">
                        {{ form_row(form.debutDuSejour) }}
                        {{ form_row(form.finDuSejour) }}
                    </div>
                    {{ form_row(form.nombreVehicules) }}
                    {{ form_row(form.commentaire) }}
                    {{ form_row(form.save, { 'label' : 'Envoyer' }) }}
                    <div class="container-error">
                        {{ error == '' ? '' : "<p>#{error}</p>"|raw }}
                    </div>
                </div>

            {{ form_end(form) }}

        </section>
    </main>
{% endblock %}

{% block footer %}
    {{ component('Footer') }}
{% endblock %}