{% apply inline_css %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w=
3.org/TR/REC-html40/loose.dtd"><html>
    <head></head>
    <body>
        <table style="max-width: 500px; width: 100%; color:#000000; margin: 0 auto;">
            <tbody>
                <tr>
                    <td>
                        <table style="max-width: 500px; width: 100%; border: 1px solid #828282; margin: 0 auto;">
                            <tbody style="margin: 0;">
                                <tr>
                                    <td  colspan="2"><img style="height: 150px; width:100%" src="{{ email.image('@images/slide_camping.jpg') }}" alt="banniere"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 16px; padding-left: 15px; padding-top: 30px; color: #7ca651;" colspan="2"><h1>Bonjour {{ firstName }} {{ name }} !</h1></td>
                                </tr> 
                                <tr>
                                    <td style="padding: 15px 5px;" colspan="2">
                                        <p>Merci de vous intéresser au <span style="color: #7ca651; font-weight: bold;">Camping plage du midi</span>. Votre demande sera traitée dans les meilleurs délais et nous reveindrons vers vous au plus vite. En attendant, voici un récapitulatif des informations que vous avez saisi: </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; color: #B7773E; padding-top: 30px; padding-bottom: 10px; padding-left: 15px;" colspan="2">
                                        <h2>Votre message:</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Sujet:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{subject}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Contenu:</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;" colspan="2">
                                        <p>{{message}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>   
    </body>
</html>
{% endapply %}