{% apply inline_css %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w=
3.org/TR/REC-html40/loose.dtd"><html>
    <head></head>
    <body>
        <table style="max-width: 500px; width: 100%; color:#000000; margin: 0 auto;">
            <tbody>
                <tr>
                    <td>
                        <table style="max-width: 500px; width: 100%; border: 1px solid #828282; margin: 0 auto;">
                            <tbody style="margin: 0;">
                                <tr>
                                    <td style="font-size: 14px; color: #B7773E; padding-top: 30px; padding-bottom: 10px; padding-left: 15px;" colspan="2">
                                        <h2>Informations client:</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Nom, prénom:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{ name }} {{ firstName }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Email:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{emailUser}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Adresse:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{ address }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Téléphone:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{phone}}</p>
                                    </td>
                                </tr>
                                {% if nbrAnimaux > 0 %}
                                    <tr>
                                        <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                            <p>Animaux:</p>
                                        </td>
                                        <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                            <p>{{ nbrAnimaux }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if nbrVehicule > 0 %}
                                    <tr>
                                        <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                            <p>Véhicules:</p>
                                        </td>
                                        <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                            <p>{{ nbrVehicule }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td style="font-size: 14px; color: #B7773E; padding-top: 30px; padding-bottom: 10px; padding-left: 15px;" colspan="2">
                                        <h2>Le séjour:</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Locatif:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        {% if locatif|length > 0 %}

                                            {% if typeLocatif.id == 2 and locatif.id != 8 %}
                                                {{ chalet ? "<p>#{locatif.libelle}</p>"|raw }}
                                            {% else %}
                                                {{ chalet ? '<p>Chalet</p>'}}
                                            {% endif %}

                                            {% if typeLocatif.id == 2 and locatif.id == 8 %}
                                                {{ chaletGite ? "<p>#{locatif.libelle}</p>"|raw }}
                                            {% else %}
                                                {{ chaletGite ? '<p>Chalet-gîte</p>'}}
                                            {% endif %}

                                            {% if typeLocatif.id == 1 %}
                                                {{ cabane ? "<p>#{locatif.libelle}</p>"|raw }}
                                            {% else %}
                                                {{ cabane ? '<p>Cabane</p>'}}
                                            {% endif %}

                                        {% else %}
                                            {{ chalet ? '<p>Chalet</p>'}}
                                            {{ chaletGite ? '<p>Chalet-gîte</p>'}}
                                            {{ cabane ? '<p>Cabane</p>'}}
                                        {% endif %}

                                        {{ roulotte ? '<p>Roulotte</p>'}}

                                        {% if campingCar %}
                                            <p>Camping-car{{ electricite ? ' avec l\'option électricité'}}</p>
                                        {% endif %}
                                        {% if caravane %}
                                            <p>Caravane{{ electricite ? ' avec l\'option électricité'}}</p>
                                        {% endif %}
                                        {% if tente %}
                                            <p>tente{{ electricite ? ' avec l\'option électricité'}}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Du:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{ dateDebut|format_date(locale: 'fr') }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; width: 40%; font-size: 14px; font-weight: bold;">
                                        <p>Au:</p>
                                    </td>
                                    <td style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
                                        <p>{{ dateFin|format_date(locale: 'fr') }}</p>
                                    </td>
                                </tr>
                                {% for voyageur, age in ageVoyageurs %}
                                    <tr>
                                        <td style="padding-top: 10px; padding-bottom: 10px; text-align: center; font-weight: bold;" colspan="2">
                                            <p>{{ voyageur }} ({{ age }})</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                                {% if commentaire|trim != '' %}
                                    <tr>
                                        <td style="font-size: 14px; color: #B7773E; padding-top: 30px; padding-bottom: 10px; padding-left: 15px;" colspan="2">
                                            <h2>Le commentaire:</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;" colspan="2">
                                            <p>{{commentaire}}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>   
    </body>
</html>
{% endapply %}