<div class='container'>
    <nav>
        <a href="{{ path('app_home') }}" class="logo-accueil"><img class="logo" src="{{ asset('/images/logos/logo_PlageDuMidi.png') }}" alt="Camping Plage"/></a>
        <ul>
            <li><a href="{{ path('locatifs') }}">Locations</a></li>
            <li><a href="{{ path('locatifs', {slug: "hiver"}) }}">Locations d'hiver</a></li>
            <li><a href="{{ path('app_home') }}#activite">Activités</a></li>
            <li><a href="{{ path('app_home') }}">Photo & Vidéo</a></li>
            <li><a href="{{ path('app_home') }}">Devis & Réservation</a></li>
            <li><a href="{{ path('app_home') }}">Contact</a></li>
        </ul>
        <img class="hamburger" src="{{ asset('/images/logos/burger-bar.png') }}" alt="Menu"/>
        <img class="lang" src="{{ asset('/images/logos/flag_fr.jpg') }}" alt="Français"/>
        <div class="choiceLang" >
            <img src="{{ asset('/images/logos/flag_en.jpg') }}" alt="Anglais"/>
            <img src="{{ asset('/images/logos/flag_nl.jpg') }}" alt="Néerlandais"/>
            <img src="{{ asset('/images/logos/flag_gn.jpg') }}" alt="Allemand"/>
            <img src="{{ asset('/images/logos/flag_it.jpg') }}" alt="Italien"/>
            <img src="{{ asset('/images/logos/flag_es.jpg') }}" alt="Espagnol"/>
        </div> 
    </nav>
</div>
<div id="background" class="disabled">
    <div id="nav" class="disabled">
        <div class="headNav">
            <a href="{{ path('app_home') }}" class="logo-accueil"><img class="logo" src="{{ asset('/images/logos/logo_PlageDuMidi.png') }}" alt="Camping Plage"/></a>
            <img class="close" src="{{ asset('/images/logos/fermer-la-croix.png') }}" alt="Fermer"/>
        </div>
        <ul>
            <li><a href="{{ path('locatifs') }}">Locations</a></li>
            <li><a href="{{ path('locatifs', {slug: "hiver"}) }}">Locations d'hiver</a></li>
            <li><a href="{{ path('app_home') }}">Activités</a></li>
            <li><a href="{{ path('app_home') }}">Photo & Vidéo</a></li>
            <li><a href="{{ path('app_home') }}">Devis & Réservation</a></li>
            <li><a href="{{ path('app_home') }}">Contact</a></li>
        </ul>
    </div>
</div>