<nav>
    <img class="logo" src="{{ asset('/images/logos/logo_PlageDuMidi.png') }}" alt="Camping Plage">
    <ul>
        <li><a href="{{ path('app_home') }}">Locations</a></li>
        <li><a href="{{ path('app_home') }}">Locations d'hiver</a></li>
        <li><a href="{{ path('app_home') }}">Activités</a></li>
        <li><a href="{{ path('app_home') }}">Photo & Vidéo</a></li>
        <li><a href="{{ path('app_home') }}">Devis & Réservation</a></li>
        <li><a href="{{ path('app_home') }}">Contact</a></li>
    </ul>
    <img class="hamburger" src="{{ asset('/images/logos/menus.png') }}" alt="Menu">
    <img class="lang" src="{{ asset('/images/logos/flag_fr.jpg') }}"  alt="Français">
    
</nav>